// Colors
$off-black: #20222b;
$dark-blue: #333745;
$off-white: #a5afd7;
$purple: #8357c5;
$dark-grass: #045408;
$grass: #248430;
$wood: #835715;
$gold: #caac11;
$food: #c22242;
$blue: #3c4251;
$light-blue: #464b5e;

// Spacings
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
